<%= stylesheet_link_tag "calendar", "data-turbo-track": "reload" %>
<%= link_to @keycloak_url do %>
  <div class="btnLogin">
    Sign in
  </div>
<% end %>
<div class="container mx-auto px-4 py-8">
  <h1 class="text-3xl font-bold text-center text-indigo-600 mb-8">จองอะไรสักอย่าง</h1>

  <%= month_calendar(events: @details) do |date, events| %>
    <div class="h-full min-h-[100px] border p-2">
      <div class="text-sm text-gray-600 mb-1 font-bold"><%= date.day %></div>

      <% left_count = events.select { |e| e.zoneControl == "Left" }.count %>
      <% right_count = events.select { |e| e.zoneControl == "Right" }.count %>

      <div class="btn-group">
        <% if left_count > 0 %>
            <%= link_to "Left #{left_count}",new_path(date: date.iso8601) , method: :get, class: "btn-left" ,data: { turbo_frame: "modal-reserve-form" }%>

        <% end %>

        <% if right_count > 0 %>
            <%= link_to "Right #{right_count}", new_path(date: date.iso8601), method: :get, class: "btn-right", data: { turbo_frame: "modal-reserve-form" }%>

        <% end %>
        <% if left_count == 0 && right_count == 0 %>
            <%= link_to "reserve", new_path(date: date.iso8601), class: "btn-empty", data: { turbo_frame: "modal-reserve-form" } %>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= turbo_frame_tag "modal-reserve-form" %>
</div>
